---
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina No encontrada">
  <SectionContainer >
    <h1 class="text-center">Pagina no encontrada</h1>
  </SectionContainer>
</Layout>
