---
import About from "@/components/About.astro";
import Contacto from "@/components/Contacto.astro";
import Layout from "../layouts/Layout.astro";
import Mision from "@/components/Mision.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Vision from "@/components/Vision.astro";
---

<Layout title="MJHConstrucciones">
  <SectionContainer class="">
    <About />
  </SectionContainer>
  <SectionContainer class="flex flex-col md:flex-row">
    <div class="mx-4">
      <Mision />
    </div>
    <div class="mx-4">
      <Vision />
    </div>
  </SectionContainer>
  
</Layout>

<style></style>
