---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
---

<Layout title="Proyectos">
  <h2 class="text-6xl text-center font-serif underline decoration-black decoration-solid">
    Proyectos
  </h2>
  <SectionContainer />
</Layout>
