---
import Card from "./Card.astro";
---

<Card
  class="dark:bg-blue-400 dark:border-blue-600 shadow-blue-950 italic text-center"
>
  <h2 class="mb-2 text-4xl font-bold text-black">
    <img src="/MJH.ico" class="w-36 sm:inline" alt="Logo de MJHConstrucciones" />Sobre MJH
    Construcciones
  </h2>

  <p class="mb-3 font-medium">
    Somos una empresa dedicada al giro de la <strong class="text-red-800"
      >construcción</strong
    > contamos con <strong class="text-red-800">30 Años</strong>
    de experiencia.
  </p>
  <p class="font-medium">
    Tenemos el recurso humano capacitado para cualquier proyecto que se nos
    encomiende, ya sea de obra civil en general, instalaciones residenciales e
    industriales y somos especialistas en estructura métalica.
  </p>
</Card>
