<section
  class="shadow-xl shadow-blue-950 
  text-lg
   bg-blue-500 
   px-12 py-10 mx-auto 
   italic text-pretty text-justify"
>
  <h2 class="text-center text-4xl font-semibold text-black">Sobre MJH Construcciones</h2>
  <p>
    Somos una empresa dedicada al giro de la <strong class="text-red-800">construcción</strong> contamos con <strong class="text-red-800">30 Años</strong>
    de experiencia.
  </p>
  <p>
    Tenemos el recurso humano capacitado para cualquier proyecto que se nos
    encomiende, ya sea de obra civil en general, instalaciones residenciales e
    industriales y somos especialistas en estructura métalica.
  </p>
</section>
<style></style>
