---
import SocialPill from "./SocialPill.astro";
---

<div class="text-pretty text-end font-semibold mx-4">
  <h3 class="text-2xl">Contacto</h3>
  <p class="text-[#7a1b0c]">
    MANUEL JUÁREZ HERNÁNDEZ. <SocialPill href="mailto:mjhindustrial@gmail.com">
      mjhindustrial@gmail.com
    </SocialPill>
    <br />
    DIEGO DE ORDAZ #64, FRACC. REFORMA C.P. 91919 VERACRUZ, VER.
    <br />
    CEL: <SocialPill href="tel:2293569920">2293 569 920</SocialPill>, OFIC: <SocialPill
      href="2293753657"
    >
      2293 753 657
    </SocialPill>, <SocialPill href="5587908054">5587 908 054</SocialPill>
  </p>
</div>
