<div class="text-pretty text-end font-semibold">
      <h3 class="text-2xl">Contacto</h3>
      <p class=" text-[#7a1b0c]">
        MANUEL JUÁREZ HERNÁNDEZ. mjhindustrial@gmail.com
        <br />
        DIEGO DE ORDAZ #64, FRACC. REFORMA C.P. 91919 VERACRUZ, VER.
        <br />
        CEL: 2293 569 920, OFIC: 2293 753 657, 5587 908 054
      </p>
</div>
