<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      rounded-full
      lg:px-3 py-1
      flex flex-row items-center
      backdrop-blur-xl
      shadow-lg
      shadow-red-950
      bg-red-950		
    `}
  >
    <a
      class="text-white hover:bg-white/10 rounded-full px-2 lg:px-3 transition"
      href="/">Inicio</a
    >
    <a
      class="text-white hover:bg-white/10 rounded-full px-2 lg:px-3 transition"
      href="/proyectos">Proyectos</a
    >
    <a
      class="text-white hover:bg-white/10 rounded-full px-2 lg:px-3 transition"
      href="/#Contacto">Contacto</a
    >
  </nav>
</header>
