<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition
  bg-gray-100 rounded-full shadow-lg shadow-red-950 dark:bg-red-950 dark:text-white
  focus-visible:ring-yellow-500/80 text-md hover:bg-red-800 group max-w-fit hover:text-white active:bg-black"
>
  <slot />
</a>
